#workingGif {
  position:absolute;
  top:100px;
  left:50%;
  margin-left:-50px;
}

.cartSideBar {
	display:none;
	@include breakpoint(mamaBear) {
		display:block;
		width:25%;
		float:left;
		// background:#f2dca2;//use form styles
		padding:15px;
		ul {
			li {
				margin-bottom:10px;
				a {

				}
			}
		}	
	}
	
}

.searchBox {
	max-width:100%;
	margin-bottom:15px;
}

.cart75Content {
	display:none;
	@include breakpoint(mamaBear) {
		display:block;
		width:75%;
		float:left;
	}
}

.cart100Content {
	width:100%;
	@include breakpoint(mamaBear) {
		display:none;
	}
}

.item {
	width:50%;
	@include breakpoint(mamaBear) {
		width:25%;
	}
	height:250px;
	float:left;
	padding:3px;
	&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
		padding-top:0;
	} 
}

.innerItem {
	// background:#f2dca2;
	height:100%;
	padding:10px;
	a {
		text-decoration:none;
	}
}

.itemImg {
	text-align:center;
	height:160px;
    display: flex;
    align-items: center;
    justify-content: center;
	padding-bottom:5px;
	img {
		max-width:100%;
		max-height:100%;
	}
}

.itemInfo {
	text-align:center;
	h3 {
		font-size:14px;
		font-weight:normal;
		margin-bottom:5px;
	}
}



///////////////////////DETAILS PAGE

.pageProductTitle {
	text-align:center;
	font-size:24px;
}

.productRightSide {
	width:100%;
	@include breakpoint(mamaBear) {
		width:75%;
		float:left;
	}
}

.productImages {
	width:100%;
	@include breakpoint(mamaBear) {
		width:53.4%;
		float:left;
		min-height:1px;
		margin:0 20px;
	}
}

.productDescription {
	width:100%;
	text-align:left;
	@include breakpoint(mamaBear) {
		padding-left:20px;
		float:right;
	}	
}

.productOptions {
	width:100%;
	@include breakpoint(mamaBear) {
		width:40%;
		float:left;
	}
	min-height:1px;
	text-align:center;
	img {
		max-width:100%;
	}
	h1 {
		
	}
	input {
		-webkit-appearance:none;
		outline:0;
		border:0;
		background:#ffffff;
		border-radius:.5em;
		padding:.5em;
	}
	input[type="number"] {
		-webkit-appearance:none;
		width:75px;
		padding:16.5px 15px;
		border-radius:2px;
		border:1px solid #cccccc;
		position:absolute;
		top:0;
		right:0;
	}
	select {
		-webkit-appearance:none;
		width:100%;
		padding:16.5px 15px;
		border-radius:2px;
		border:1px solid #cccccc;
	}
}

.addToCart {
	border:0;
	padding:13px 0;
	width:100%;
	outline:0;
	border-radius:2px;
	margin-top:14px;
	color:#ffffff;
	font-size:20px;
}

.priceOnSale {
	font-size:28px;
	font-weight:bold;
	margin:10px 0;
}

.priceRegular {

}

.price {
	font-size:28px;
	font-weight:bold;
	margin-top:10px 0;
	@include breakpoint(mamaBear) {
		margin-top:0;
	}
	span {
		font-size:14px; 
		font-weight:normal;
		vertical-align:middle;
	}
}


///////////////////////IMAGE GALLERY

.galleryContainer {
	// background:#000000;
}

.albumImage {
	// width:359px;
	height:350px;
	margin-bottom:10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:10px;
	img {
		max-width:100%;
		max-height:340px;
		display:block;
		margin:auto;
	}
}

.thumbWrapper {
	// width:358px;
	overflow:auto;
	padding:10px;
	// background:#808080;
}

.thumbList {
	white-space:nowrap;
	margin:0;
	li {
		display:inline;
		padding:0 5px;
		height:150px;
		cursor:pointer;
		img {
			max-height:150px;
			max-width:100px;
			vertical-align:middle;
		}
		a {

		}
	}
}

////////////////////////CART

.cartIcon {
	visibility:hidden;
	text-decoration:none !important;
}

.cartContainer {
	font-size:16px;
}

.cartItem {
	width:100%;
	// background:#f4f4f4;
	padding:10px;
	margin-bottom:15px;
	border-radius:.5em;
	position:relative;
	&:after {
		content:'';
		display:table;
		clear:both;
	}
	.left {
		width:85%;
		float:left;
		h1 {
			margin-top:0;
		}
	}
	.right {
		width:15%;
		float:left;
		input {
			width:50px;
		}
	}
}

.cartItemImg {
	width:140px;
	height:105px;
	img {
		max-height:100%;
		max-width:100%;
	}
}

.cartTotals {
	width:25%;
	float:right;
}


.removeItem {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #fff;
	border: 1px solid #000;
	position: absolute;
	top: -5px;
	right: -5px;
	padding-left: 10px;
	z-index: 100;
	transition: all .2s ease;
	&:hover {
		cursor:pointer;
	}
	&:before {
		content: '';
		position: absolute;
		transform: rotate(45deg);
		top: 12px;
		left: 4px;
		width: 20px;
		height: 4px;
		background: #000;
	}
	&:after {
		content: '';
		position: absolute;
		transform: rotate(-45deg);
		top: 12px;
		left: 4px;
		width: 20px;
		height: 4px;
		background: #000;
	}
}


.ng-cloak {
	display:none;
}

//////////////////////////////////CHECKOUT

.billingInformation, .shippingInformation {
	&:after {
		content:'';
		display:table;
		clear:both;
	}
	select {
		-webkit-appearance:none;
	}
}

.checkoutContainer {
	select {
		width:48%;
		float:left;
		margin-bottom:10px;
		padding:10px;
		&:nth-of-type(even) {
			float:right;
		}
	}
	input[type="checkbox"] {
		margin:0 10px 0 0;
		width:auto;
	}
	input {
		width:48%;
		float:left;
		padding:10px;
		border-radius:.5em;
		border:1px solid #000000;
		margin-bottom:10px;
		&:nth-of-type(even) {
			float:right;
		}
	}
}


.shareButtons {
	background:#ffffff;
	width:180px;
	border-radius:2px;
	text-align:center;
	padding:12px 0 10px 14px;
	margin:0;
	border:1px solid #cccccc;
	position:absolute;
	z-index:999999;
}

.quantityInput {

}

.productCanShip {
	padding-top:65px;
	position:relative;
}

.inquire {
	padding-top:65px;
	button {
		border:0;
		padding:13px 0;
		width:100%;
		outline:0;
		border-radius:2px;
		margin-top:14px;
		color:#ffffff;
		font-size:20px;
	}
}

.inquireForm {
	height:0;
	overflow:hidden;
	transition:all .5s ease;
	border-radius:2px;
	input {
		width:90%;
		margin-bottom:.75em;
		border:solid 1px #cccccc
	}
	textarea {
		-webkit-appearance: none;
		outline: 0;
		border: 0;
		background: #fff;
		border-radius: .5em;
		padding: .5em;
		resize:none;
		width:90%;
		border:solid 1px #cccccc
	}
}

.inquireFormActive {
	transition:all .5s ease;
	height:370px;
	margin-top:1em;
	padding-top:1em;
}

.sendInquiry {
	width:90% !important;
}

.productInfoOnSale {
	margin-top:1em;
	@include breakpoint(mamaBear) {
		margin-top:0;
	}
}

.productInfoOnSale h1 {
	margin-top:0;
}

.productOptionContainer {
	position:relative;
}

.selectArrow {
	position:absolute;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2C3E50;
	right:20px;
	top:20px;
	pointer-events:none;
}

.cartTotals {
	button {
		border:0;
		padding:13px 0;
		width:100%;
		outline:0;
		border-radius:2px;
		margin-top:14px;
		font-size:20px;
	}
}

.checkoutButton {
	border:0;
	padding:13px 0;
	width:100%;
	outline:0;
	border-radius:2px;
	display:block;
	margin:14px auto;
	font-size:20px;	
	width:25%;
}